---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="Liver Transplantation Program">
    <!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout2 bg-overlay text-center pb-0">
      <div class="bg-img"><img src="/assets/images/page-titles/3.jpg" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 offset-xl-2">
            <div class="pagetitle__icon">
              <i class="icon-microscope"></i>
            </div>
            <h1 class="pagetitle__heading">Liver Transplantation Program</h1>
            <p class="pagetitle__desc mb-30">A world-class liver transplant program offering both living donor and deceased donor transplantation.</p>
            <a href="#content" class="scroll-down"><i class="fas fa-long-arrow-alt-down"></i></a>
          </div><!-- /.col-xl-8 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->

    <section id="content" class="pb-80">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8">
            <div class="text-block mb-50">
              <p class="text-block__desc mb-20 font-weight-bold color-secondary">
                A Second Chance at Life
              </p>
              <div class="video-banner-layout3 bg-overlay mb-50">
                <img src="/assets/images/banners/17.jpg" alt="banner">
                <a class="video__btn video__btn-white popup-video" href="https://www.youtube.com/watch?v=video_id">
                  <div class="video__player">
                    <i class="fa fa-play"></i>
                  </div>
                </a>
              </div><!-- /.video-banner -->
              <p class="text-block__desc mb-20">
                The South Asian Liver Institute is a premier center for liver transplantation. Our experienced transplant team has performed hundreds of successful liver transplants, providing a new lease on life for patients with end-stage liver disease.
              </p>
              <p class="text-block__desc mb-20">
                We offer a comprehensive transplant program that includes pre-transplant evaluation, state-of-the-art surgical procedures, and lifelong post-transplant care. Our living donor liver transplant program is one of the most active in the region.
              </p>
            </div><!-- /.text-block -->
          </div><!-- /.col-lg-8 -->
          <div class="col-sm-12 col-md-12 col-lg-4">
            <aside class="sidebar has-marign-left sticky-top">
              <div class="widget widget-services">
                <h5 class="widget__title">Medical Services</h5>
                <div class="widget-content">
                  <ul class="list-unstyled mb-0">
                    <li><a href="/services/liver-transplantation"><span>Liver Transplantation</span><i class="icon-arrow-right"></i></a></li>
                    <li><a href="/services/liver-cirrhosis"><span>Liver Cirrhosis</span><i class="icon-arrow-right"></i></a></li>
                    <li><a href="/services/fatty-liver"><span>Fatty Liver</span><i class="icon-arrow-right"></i></a></li>
                    <li><a href="/services/liver-cancer"><span>Liver Cancer</span><i class="icon-arrow-right"></i></a></li>
                    <li><a href="/services/gallbladder-cancer"><span>Gallbladder Cancer</span><i class="icon-arrow-right"></i></a></li>
                    <li><a href="/services/pancreas-cancer"><span>Pancreas Cancer</span><i class="icon-arrow-right"></i></a></li>
                  </ul>
                </div><!-- /.widget-content -->
              </div><!-- /.widget-services -->
              <div class="widget widget-help bg-overlay bg-overlay-secondary-gradient">
                <div class="bg-img"><img src="/assets/images/banners/5.jpg" alt="background"></div>
                <div class="widget-content">
                  <div class="widget__icon">
                    <i class="icon-call3"></i>
                  </div>
                  <h4 class="widget__title">Emergency Cases</h4>
                  <p class="widget__desc">
                    Please feel welcome to contact our friendly reception staff with any general or medical enquiry call us.
                  </p>
                  <a href="tel:+918070670670" class="phone__number">
                    <i class="icon-phone"></i> <span>+91-8070 670 670</span>
                  </a>
                </div><!-- /.widget-content -->
              </div><!-- /.widget-help -->
            </aside><!-- /.sidebar -->
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>
</BaseLayout>
