/*------------------------
    Alerts
--------------------------*/
.alert {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #F5F5F5;
  border: 0;
}
.alert .alert__icon {
  margin-right: 20px;
}
.alert-primary {
    padding: 30px;
    color: $color-primary;
    background-color: #def8f6;
    border-color: transparent;
    border-radius: 15px;

    .alert__title {
        font-size: 19px;
    }
}