<!-- ============================
    Contact Info Component
============================ -->
<section class="contact-info py-0">
  <div class="container">
    <div class="row row-no-gutter boxes-wrapper">
      <div class="col-sm-12 col-md-4">
        <div class="contact-box d-flex">
          <div class="contact__icon">
            <i class="icon-call3"></i>
          </div><!-- /.contact__icon -->
          <div class="contact__content">
            <h2 class="contact__title">Emergency Cases</h2>
            <p class="contact__desc">Please feel free to contact our friendly reception staff with any general or
              medical enquiry.</p>
            <a href="tel:+918070670670" class="phone__number">
              <i class="icon-phone"></i> <span>+91-8070 670 670</span>
            </a>
          </div><!-- /.contact__content -->
        </div><!-- /.contact-box -->
      </div><!-- /.col-md-4 -->
      <div class="col-sm-12 col-md-4">
        <div class="contact-box d-flex">
          <div class="contact__icon">
            <i class="icon-health-report"></i>
          </div><!-- /.contact__icon -->
          <div class="contact__content">
            <h2 class="contact__title">Doctors Timetable</h2>
            <p class="contact__desc">Qualified doctors available six days a week, view our timetable to make an
              appointment.</p>
            <a href="doctors-timetable.html" class="btn btn__white btn__outlined btn__rounded">
              <span>View Timetable</span><i class="icon-arrow-right"></i>
            </a>
          </div><!-- /.contact__content -->
        </div><!-- /.contact-box -->
      </div><!-- /.col-md-4 -->
      <div class="col-sm-12 col-md-4">
        <div class="contact-box d-flex">
          <div class="contact__icon">
            <i class="icon-heart2"></i>
          </div><!-- /.contact__icon -->
          <div class="contact__content">
            <h2 class="contact__title">Opening Hours</h2>
            <ul class="time__list list-unstyled mb-0">
              <li><span>Monday - Friday</span><span>8.00 - 7:00 pm</span></li>
              <li><span>Saturday</span><span>9.00 - 10:00 pm</span></li>
              <li><span>Sunday</span><span>10.00 - 12:00 pm</span></li>
            </ul>
          </div><!-- /.contact__content -->
        </div><!-- /.contact-box -->
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.contact-info -->
