<!-- ============================
    Contact Info Component - Minimal Design
============================ -->
<section class="contact-info contact-info--minimal py-0">
  <div class="container">
    <div class="row row-no-gutter boxes-wrapper">
      <div class="col-sm-12 col-md-4">
        <div class="contact-box contact-box--emergency">
          <div class="contact__icon">
            <i class="icon-call3"></i>
          </div>
          <div class="contact__content">
            <h3 class="contact__title">Emergency Cases</h3>
            <p class="contact__desc">Contact our friendly reception staff for any medical enquiry.</p>
            <a href="tel:+918070670670" class="contact__phone">
              <i class="icon-phone"></i>
              <span>+91-8070 670 670</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="contact-box contact-box--schedule">
          <div class="contact__icon">
            <i class="icon-health-report"></i>
          </div>
          <div class="contact__content">
            <h3 class="contact__title">Book an Appointment</h3>
            <p class="contact__desc">Schedule your consultation with our expert doctors.</p>
            <a href="/appointment" class="contact__btn">
              <span>Book Now</span>
              <i class="icon-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="contact-box contact-box--hours">
          <div class="contact__icon">
            <i class="icon-heart2"></i>
          </div>
          <div class="contact__content">
            <h3 class="contact__title">Opening Hours</h3>
            <div class="contact__hours">
              <div class="hours__item">
                <span class="hours__day">Mon - Fri</span>
                <span class="hours__time">8:00 AM - 7:00 PM</span>
              </div>
              <div class="hours__item">
                <span class="hours__day">Saturday</span>
                <span class="hours__time">9:00 AM - 10:00 PM</span>
              </div>
              <div class="hours__item">
                <span class="hours__day">Sunday</span>
                <span class="hours__time">10:00 AM - 12:00 PM</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
