<!-- =========================
   Header Component
=========================== -->
<header class="header header-layout1">
 <div class="header-topbar">
   <div class="container-fluid">
     <div class="row align-items-center">
       <div class="col-12">
         <div class="d-flex align-items-center justify-content-between">
           <ul class="contact__list d-flex flex-wrap align-items-center list-unstyled mb-0">
             <li>
               <button class="miniPopup-emergency-trigger" type="button">24/7 Emergency</button>
               <div id="miniPopup-emergency" class="miniPopup miniPopup-emergency text-center">
                 <div class="emergency__icon">
                   <i class="icon-call3"></i>
                 </div>
                 <a href="tel:+918070670670" class="phone__number">
                   <i class="icon-phone"></i> <span>+91-8070 670 670</span>
                 </a>
                 <p>Please feel free to contact our friendly reception staff with any liver care or medical enquiry.</p>
                 <a href="/appointment" class="btn btn__secondary btn__link btn__block">
                   <span>Make Appointment</span> <i class="icon-arrow-right"></i>
                 </a>
               </div><!-- /.miniPopup-emergency -->
             </li>
             <li>
               <i class="icon-phone"></i><a href="tel:+918070670670">Emergency Line: +91-8070 670 670</a>
             </li>
             <li>
               <i class="icon-location"></i><a href="https://maps.google.com/maps?q=Plot+No.+8-2-269/4/B,+4th+Floor,+Road+No.+2,+Banjara+Hills,+Hyderabad,+Telangana+500034,+India" target="_blank">Location: Banjara Hills, Hyderabad</a>
             </li>
             <li>
               <i class="icon-clock"></i><a href="/contact">Mon - Fri: 8:00 am - 7:00 pm</a>
             </li>
           </ul><!-- /.contact__list -->
          <ul class="social-icons list-unstyled mb-0">
            <li><a href="https://www.facebook.com/southasianliverinstitute/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/southasianliverinstitute/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/southasianliver" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://in.linkedin.com/company/south-asian-liver-institute" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://www.youtube.com/c/SouthAsianLiverInstitute" target="_blank"><i class="fab fa-youtube"></i></a></li>
          </ul><!-- /.social-icons -->
         </div>
       </div><!-- /.col-12 -->
     </div><!-- /.row -->
   </div><!-- /.container -->
 </div><!-- /.header-top -->
 
 <nav class="navbar navbar-expand-lg sticky-navbar">
   <div class="container-fluid">
     <a class="navbar-brand" href="/">
       <img src="/assets/images/logo/sali-logo-blue.png" class="logo-light" alt="South Asian Liver Institute - SALi">
       <img src="/assets/images/logo/sali-logo-white.png" class="logo-dark" alt="South Asian Liver Institute - SALi">
     </a>
     <button class="navbar-toggler" type="button" data-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
       <span class="menu-lines"><span></span></span>
     </button>
     <div class="collapse navbar-collapse" id="mainNavigation">
       <ul class="navbar-nav ml-auto">
         <li class="nav__item">
           <a href="/" class="nav__item-link active">Home</a>
         </li><!-- /.nav-item -->
         <li class="nav__item has-dropdown">
           <a href="/about/about-us" data-toggle="dropdown" class="dropdown-toggle nav__item-link">About</a>
           <ul class="dropdown-menu">
             <li class="nav__item">
               <a href="/about/about-us" class="nav__item-link">About SALi</a>
             </li><!-- /.nav-item -->
             <li class="nav__item">
               <a href="/about/founder" class="nav__item-link">Our Founder</a>
             </li><!-- /.nav-item -->
           </ul><!-- /.dropdown-menu -->
         </li><!-- /.nav-item -->
         <li class="nav__item has-dropdown">
           <a href="/services" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Services</a>
           <ul class="dropdown-menu">
             <li class="nav__item">
               <a href="/services/liver-transplantation" class="nav__item-link">Liver Transplantation</a>
             </li><!-- /.nav-item -->
             <li class="nav__item">
               <a href="/services/liver-cirrhosis" class="nav__item-link">Liver Cirrhosis</a>
             </li><!-- /.nav-item -->
             <li class="nav__item">
               <a href="/services/fatty-liver" class="nav__item-link">Fatty Liver</a>
             </li><!-- /.nav-item -->
             <li class="nav__item">
               <a href="/services/liver-cancer" class="nav__item-link">Liver Cancer</a>
             </li><!-- /.nav-item -->
             <li class="nav__item">
               <a href="/services/gallbladder-cancer" class="nav__item-link">Gallbladder Cancer</a>
             </li><!-- /.nav-item -->
             <li class="nav__item">
               <a href="/services/pancreas-cancer" class="nav__item-link">Pancreas Cancer</a>
             </li><!-- /.nav-item -->
             <li class="nav__item">
               <a href="/services/laparoscopic-surgery" class="nav__item-link">Laparoscopic Surgery</a>
             </li><!-- /.nav-item -->
             <li class="nav__item">
               <a href="/services/endoscopy" class="nav__item-link">Endoscopy</a>
             </li><!-- /.nav-item -->
             <li class="nav__item">
               <a href="/services/interventional-treatments" class="nav__item-link">Interventional Treatments</a>
             </li><!-- /.nav-item -->
             <li class="nav__item">
               <a href="/services/ICU-facility" class="nav__item-link">ICU Facility</a>
             </li><!-- /.nav-item -->
           </ul><!-- /.dropdown-menu -->
         </li><!-- /.nav-item -->
         <li class="nav__item has-dropdown">
           <a href="/programmes/licap" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Programmes</a>
           <ul class="dropdown-menu">
             <li class="nav__item">
               <a href="/programmes/licap" class="nav__item-link">LICAP</a>
             </li><!-- /.nav-item -->
             <li class="nav__item">
               <a href="/programmes/ascites-club" class="nav__item-link">Ascites Club</a>
             </li><!-- /.nav-item -->
             <li class="nav__item">
               <a href="/programmes/liver-line" class="nav__item-link">Liver Line</a>
             </li><!-- /.nav-item -->
           </ul><!-- /.dropdown-menu -->
         </li><!-- /.nav-item -->
         <li class="nav__item has-dropdown">
           <a href="/locations/hyderabad" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Locations</a>
           <ul class="dropdown-menu">
             <li class="nav__item">
               <a href="/locations/hyderabad" class="nav__item-link">Hyderabad</a>
             </li><!-- /.nav-item -->
             <li class="nav__item">
               <a href="/locations/mumbai" class="nav__item-link">Mumbai</a>
             </li><!-- /.nav-item -->
             <li class="nav__item">
               <a href="/locations/kolkata" class="nav__item-link">Kolkata</a>
             </li><!-- /.nav-item -->
             <li class="nav__item">
               <a href="/locations/nagpur" class="nav__item-link">Nagpur</a>
             </li><!-- /.nav-item -->
             <li class="nav__item">
               <a href="/locations/visakhapatnam" class="nav__item-link">Visakhapatnam</a>
             </li><!-- /.nav-item -->
             <li class="nav__item">
               <a href="/locations/rajkot" class="nav__item-link">Rajkot</a>
             </li><!-- /.nav-item -->
             <li class="nav__item">
               <a href="/locations/vijayawada-guntur" class="nav__item-link">Vijayawada-Guntur</a>
             </li><!-- /.nav-item -->
             <li class="nav__item">
               <a href="/locations/kakinada" class="nav__item-link">Kakinada</a>
             </li><!-- /.nav-item -->
           </ul><!-- /.dropdown-menu -->
         </li><!-- /.nav-item -->
        <li class="nav__item has-dropdown">
          <a href="/media" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Media</a>
          <ul class="dropdown-menu">
            <li class="nav__item">
              <a href="/media" class="nav__item-link">News</a>
            </li><!-- /.nav-item -->
            <li class="nav__item">
              <a href="/media/videos" class="nav__item-link">Videos</a>
            </li><!-- /.nav-item -->
          </ul><!-- /.dropdown-menu -->
        </li><!-- /.nav-item -->
        <li class="nav__item has-dropdown">
          <a href="/resources/risk-calculator" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Resources</a>
          <ul class="dropdown-menu">
            <li class="nav__item">
              <a href="/resources/risk-calculator" class="nav__item-link">Risk Calculator</a>
            </li><!-- /.nav-item -->
            <li class="nav__item">
              <a href="/resources/guide" class="nav__item-link">Patient Guide</a>
            </li><!-- /.nav-item -->
            <li class="nav__item">
              <a href="/resources/videos" class="nav__item-link">Educational Videos</a>
            </li><!-- /.nav-item -->
            <li class="nav__item">
              <a href="/gallery" class="nav__item-link">Gallery</a>
            </li><!-- /.nav-item -->
            <li class="nav__item">
              <a href="/faqs" class="nav__item-link">FAQs</a>
            </li><!-- /.nav-item -->
          </ul><!-- /.dropdown-menu -->
        </li><!-- /.nav-item -->
        <li class="nav__item">
          <a href="/blog" class="nav__item-link">Blog</a>
        </li><!-- /.nav-item -->
        <li class="nav__item">
          <a href="/calendar" class="nav__item-link">Events</a>
        </li><!-- /.nav-item -->
        <li class="nav__item">
          <a href="/appointment" class="nav__item-link">Appointment</a>
        </li><!-- /.nav-item -->
        <li class="nav__item">
          <a href="/contact" class="nav__item-link">Contact</a>
        </li><!-- /.nav-item -->
       </ul><!-- /.navbar-nav -->
       <button class="close-mobile-menu d-block d-lg-none"><i class="fas fa-times"></i></button>
     </div><!-- /.navbar-collapse -->
      <div class="d-none d-xl-flex align-items-center position-relative ml-30">
        <a href="/appointment" class="btn btn__primary btn__rounded">
          <i class="icon-calendar"></i>
          <span>Book Appointment</span>
        </a>
      </div>
   </div><!-- /.container -->
 </nav><!-- /.navabr -->
</header><!-- /.Header -->
