<!-- ==========================
    Page Title Component
=========================== -->
<section class="page-title page-title-layout1 bg-overlay bg-parallax">
  <div class="bg-img"><img src="assets/images/page-titles/1.jpg" alt="background"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h1 class="pagetitle__heading" data-title="{{pageTitle}}">{{pageTitle}}</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item" data-breadcrumb="{{breadcrumbParent}}"><a href="{{breadcrumbParentUrl}}">{{breadcrumbParent}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{pageTitle}}</li>
          </ol>
        </nav>
      </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.page-title -->
