---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title} - South Asian Liver Institute</title>
    <link rel="stylesheet" href="/assets/css/libraries.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="preloader">
            <div class="loading"><span></span><span></span><span></span><span></span></div>
        </div>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </div>
    <script is:inline src="/assets/js/jquery-3.5.1.min.js"></script>
    <script is:inline src="/assets/js/plugins.js"></script>
    <script is:inline src="/assets/js/main.js"></script>
</body>
</html>
